<!-- base.html -->

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Gestion de Bibliothèque{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="font-sans text-gray-700 bg-gray-100">
  <header class="bg-white shadow">
    <nav class="container mx-auto py-4 flex justify-between items-center">
      <a href="{{ url_for('index') }}" class="text-xl font-bold text-indigo-600">Bibliothèque</a>
      <ul class="flex space-x-4 ml-8"> <!-- Ajout de ml-8 pour ajouter un espace -->
        <li><a href="{{ url_for('manage_profile') }}" class="text-indigo-600 font-medium">Gérer Profil</a></li>
        <li><a href="{{ url_for('add_admin') }}" class="text-indigo-600 font-medium">Ajouter Admin</a></li>
        <li><a href="{{ url_for('add_user') }}" class="text-indigo-600 font-medium">Ajouter Utilisateur</a></li>
        <li><a href="#" class="text-indigo-600 font-medium">Supprimer Utilisateur</a></li>
        <li><a href="#" class="text-indigo-600 font-medium">Supprimer Livre</a></li>
        <li><a href="#" class="text-indigo-600 font-medium">Supprimer Admin</a></li>
        <li><a href="{{ url_for('logout') }}" class="bg-indigo-600 text-white font-medium py-3 px-6 rounded-lg hover:bg-indigo-700">Déconnexion</a></li>
      </ul>
    </nav>
    

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer class="bg-indigo-600 text-white py-6">
    <div class="container mx-auto text-center">
      <p>&copy; 2024 Gestion de Bibliothèque. Tous droits réservés.</p>
      <div class="mt-4">
        <a href="#" class="text-white hover:text-gray-200 mr-4"><i class="fab fa-instagram"></i></a>
        <a href="#" class="text-white hover:text-gray-200 mr-4"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-white hover:text-gray-200"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>
  </footer>

  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>
