<!-- menu.html -->

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Gestion de Bibliothèque{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="font-sans text-gray-700 bg-gray-100">
  <header class="bg-white shadow">
    <nav class="container mx-auto py-4 flex justify-between items-center">
      <a href="{{ url_for('index') }}" class="text-xl font-bold text-indigo-600">Bibliothèque</a>
      <div class="flex items-center space-x-4">
        <form action="{{ url_for('search_books') }}" method="GET" class="flex items-center">
          <input type="text" name="query" placeholder="Rechercher des livres..." class="py-2 px-4 rounded-lg border border-gray-300 focus:outline-none focus:border-indigo-600">
          <button type="submit" class="ml-2 text-white py-2 px-4 rounded-lg hover:bg-indigo-700">🔍</button>
        </form>
        <ul class="flex space-x-4">
          <li><a href="{{ url_for('manage_profile') }}" class="text-indigo-600 font-medium">Gérer Profil</a></li>
          <li><a href="{{ url_for('logout') }}" class="bg-indigo-600 text-white font-medium py-3 px-6 rounded-lg hover:bg-indigo-700">Déconnexion</a></li>
        </ul>
       
      </div>
    </nav>
  </header>

  <main>
    <div class="container mx-auto py-12">
      <h2 class="text-2xl font-bold mb-6">Menu</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
        {% for book in books %}
        <div class="bg-white shadow rounded-lg overflow-hidden flex flex-col">
          <img src="{{ url_for('static', filename=book.couverture) }}" alt="Couverture du livre" class="w-full h-48 object-cover">
          <div class="p-4 flex flex-col flex-grow">
            <div class="flex-grow">
              <h3 class="text-xl font-bold mb-2">{{ book.titre }}</h3>
              <p class="text-gray-600 mb-4">{{ book.auteur }}</p>
              <p class="mb-4">{{ book.description }}</p>
              
            </div>
            <div>
              <p class="text-lg font-bold mb-4">{{ book.prix }} €</p> <!-- Affichage du prix -->
            </div>
            <div class="flex justify-between items-center mt-auto">
              <a href="{{ url_for('commander', book_id=book.id) }}" class="bg-indigo-600 text-white font-medium py-2 px-4 rounded-lg hover:bg-indigo-700">Commander</a>
              <form action="{{ url_for('add_to_favorites', book_id=book.id) }}" method="POST">
                <button type="submit" class="text-indigo-600 hover:text-indigo-800">
                  <i class="fas fa-star">fav</i>
                </button>
              </form>
            </div>
          </div>
          
        </div>
        {% endfor %}
      </div>
    </div>
  </main>

  <footer class="bg-indigo-600 text-white py-6">
    <div class="container mx-auto text-center">
      <p>&copy; 2024 Gestion de Bibliothèque. Tous droits réservés.</p>
      <div class="mt-4">
        <a href="#" class="text-white hover:text-gray-200 mr-4"><i class="fab fa-instagram"></i></a>
        <a href="#" class="text-white hover:text-gray-200 mr-4"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-white hover:text-gray-200"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>
  </footer>

  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
